<!DOCTYPE html>
<html>
  <head>
    <title>LessonApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>LessonApp</h1>
      <%= link_to '新規投稿', posts_new_path %>
    <%= yield %>
  </body>
</html>
